.TodoForm{
    margin: 0 auto;
    width: 600px;
    height: 60px;
    margin-top: 50px;
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Todo{
    margin: 0 auto;
    width: 600px;
    border: solid white 1px;
    background-color: rgb(156, 50, 50);
    color: white;
    text-align: center;

}

.Todo .completed{
    text-decoration: line-through;
  color: white;
}